p {
    color: var(--neutral-smokey-grey);
}

#square {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: var(--neutral-white);
    height: 75vh;
    width: 50vw;
    border-radius: 30px 30px 200px 30px
}


@media(max-width: 650px) {
    #square {
        height: 65vh;
        width: 55vw;
        border-radius: 20px 20px 150px 20px;
    }
}

#head {
    background-color: aqua;
    margin-top: 45px;
    width: 90%;
    height: auto;
}
