h2 {
    font-weight: 400;
    color: var(--neutral-smokey-grey);
    font-size: 15px;
    margin-bottom: 0;
}

input {
    font-size: 32px;
    font-weight: 700;
    width: 60%;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid var(--neutral-light-grey);
    border-radius: 5px;

    margin-left: 2px;
    padding-left: 10px;
}
